In [1]:
import pandas as pd
covid_list=pd.read_csv("./DataSets/country_wise_latest.csv")
casesInNepal=covid_list.loc[covid_list['Country/Region']=='Nepal']
casesInNepal

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
119,Nepal,18752,48,13754,4950,139,3,626,0.26,73.35,0.35,17844,908,5.09,South-East Asia