# Series

In [4]:
import pandas as pd

x=[2,3,4,5,5,6]

var=pd.Series(x,index=['a','b','c','d','e','f'],dtype="float",name="python")
print(var)
print(type(var))
print(var[3])

a    2.0
b    3.0
c    4.0
d    5.0
e    5.0
f    6.0
Name: python, dtype: float64
<class 'pandas.core.series.Series'>
5.0

In [5]:
dic={"Name":['python','c','java','c++'],"por":[12,13,14,15],"rank":[1,4,3,2]}
var1=pd.Series(dic)
print(var1)

s=pd.Series(12,index=[1,2,3,4,5,6,7])
print(s)
print(type(s))

#no broadcasting error in pandas
s1=pd.Series(12,index=[1,2,3,4])
s2=pd.Series(8,index=[0,1,2])
print(s1+s2)

Name    [python, c, java, c++]
por           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
dtype: object
1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64
<class 'pandas.core.series.Series'>
0     NaN
1    20.0
2    20.0
3     NaN
4     NaN
dtype: float64

# DataFrames

In [6]:
#2D data in pandas
l=[1,2,3,4,5,6]
var=pd.DataFrame(l)
print(var)
print(type(var))

d={"a":[1,2,3,4,5],"s":[6,7,8,9,10]}
var1=pd.DataFrame(d)
print(var1)
print(var1["a"][3],var1["s"][2])
print()

var1=pd.DataFrame(d,columns=["a"])
print(var1)

   0
0  1
1  2
2  3
3  4
4  5
5  6
<class 'pandas.core.frame.DataFrame'>
   a   s
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
4 8

   a
0  1
1  2
2  3
3  4
4  5

In [7]:
list_1=[[1,2,3,4,5],[6,7,8,8,9]]
var2=pd.DataFrame(list_1)
print(type(list_1))
print(var2)
print()

sr={"s":pd.Series([1,2,3,4]),"r":pd.Series([4,5,6,7])}
var3=pd.DataFrame(sr)
print(var3)
print(type(var3))

<class 'list'>
   0  1  2  3  4
0  1  2  3  4  5
1  6  7  8  8  9

   s  r
0  1  4
1  2  5
2  3  6
3  4  7
<class 'pandas.core.frame.DataFrame'>

# Arithmetic Operations in Pandas

In [8]:
var=pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})

var

var["C"]=var["A"]+var["B"]
var

var["Python"]=var["C"]<=8
var

   A  B   C  Python
0  1  5   6    True
1  2  6   8    True
2  3  7  10   False
3  4  8  12   False

# Deleting and inserting in pandas

In [9]:
#insert
var =pd.DataFrame({"A":[1,2,3,4,5],"B":[9,8,7,6,5]})
var
var.insert(1,"python",var["B"])
var

   A  python  B
0  1       9  9
1  2       8  8
2  3       7  7
3  4       6  6
4  5       5  5

In [10]:
var.insert(2,"c",[4,5,6,7,8])
var

   A  python  c  B
0  1       9  4  9
1  2       8  5  8
2  3       7  6  7
3  4       6  7  6
4  5       5  8  5

In [11]:
# Delete
var1=var.pop("B")
var

   A  python  c
0  1       9  4
1  2       8  5
2  3       7  6
3  4       6  7
4  5       5  8

# Creating CSV File in pandas python

In [12]:
dis={"A":[1,2,3,4,5,6],"B":[7,8,8,9,0,1],"C":[10,11,12,13,14,15]}
data=pd.DataFrame(dis)
print(data)
data.to_csv("Test_new3.csv",index=False,header=False)

   A  B   C
0  1  7  10
1  2  8  11
2  3  8  12
3  4  9  13
4  5  0  14
5  6  1  15

# Reading CSV File

In [13]:
import pandas as pd
csv_1=pd.read_csv("sample.csv")
csv_1

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [14]:
csv_2=pd.read_csv("sample.csv",skiprows=[0,1,2,3,4,5])
csv_2

,2021,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138","ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)"
0,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [15]:
csv_2=pd.read_csv("sample.csv",index_col="Year")
csv_2

,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Year,,,,,,,,,
2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [16]:
csv_2=pd.read_csv("sample.csv",header=2)
csv_2

,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890","ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)"
0,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [17]:
csv_2=pd.read_csv("sample.csv",names=["cum1","cum2","cum3","cum4","cum5"])
csv_2

                                                                                                        cum1  \
Year Industry_aggregation_NZSIOC Industry_code_NZSIOC Industry_name_NZSIOC Units               Variable_code
2021 Level 1                     99999                All industries       Dollars (millions)            H01
                                                                           Dollars (millions)            H04
                                 NaN                  All industries       Dollars (millions)            H05
                                 99999                All industries       Dollars (millions)            H07
                                                                           Dollars (millions)            H08
                                                                           Dollars (millions)            H09
                                                                           Dollars (millions)            NaN
                                 NaN                  All industries       Dollars (millions)            H11
                                 99999                All industries       Dollars (millions)            H12
                                                                           Dollars (millions)            H13
                                                                           Dollars (millions)            H14
                                                                           Dollars (millions)            H19
                                 NaN                  All industries       Dollars (millions)            NaN
                                 99999                All industries       Dollars (millions)            H21

                                                                                                                                            cum2  \
Year Industry_aggregation_NZSIOC Industry_code_NZSIOC Industry_name_NZSIOC Units                                                   Variable_name
2021 Level 1                     99999                All industries       Dollars (millions)                                       Total income
                                                                           Dollars (millions)    Sales, government funding, grants and subsidies
                                 NaN                  All industries       Dollars (millions)                  Interest, dividends and donations
                                 99999                All industries       Dollars (millions)                               Non-operating income
                                                                           Dollars (millions)                                  Total expenditure
                                                                           Dollars (millions)                             Interest and donations
                                                                           Dollars (millions)                                     Indirect taxes
                                 NaN                  All industries       Dollars (millions)                                       Depreciation
                                 99999                All industries       Dollars (millions)                            Salaries and wages paid
                                                                           Dollars (millions)                           Redundancy and severance
                                                                           Dollars (millions)  Salaries and wages to self employed commission...
                                                                           Dollars (millions)             Purchases and other operating expenses
                                 NaN                  All industries       Dollars (millions)                             Non-operating expenses
                                 99999                All industries       Dollars (millions)                                     Opening stocks

                                                                                                                cum3  \
Year Industry_aggregation_NZSIOC Industry_code_NZSIOC Industry_name_NZSIOC Units                   Variable_category
2021 Level 1                     99999                All industries       Dollars (millions)  Financial performance
                                                                           Dollars (millions)  Financial performance
                                 NaN                  All industries       Dollars (millions)  Financial performance
                                 99999                All industries       Dollars (millions)  Financial performance
                                                                           Dollars (millions)  Financial performance
                                                                           Dollars (millions)  Financial performance
                                                                           Dollars (millions)  Financial performance
                                 NaN                  All industries       Dollars (millions)  Financial performance
                                 99999                All industries       Dollars (millions)  Financial performance
                                                                           Dollars (millions)  Financial performance
                                                                           Dollars (millions)  Financial performance
                                                                           Dollars (millions)  Financial performance
                                 NaN                  All industries       Dollars (millions)  Financial performance
                                 99999                All industries       Dollars (millions)  Financial performance

                                                                                                  cum4  \
Year Industry_aggregation_NZSIOC Industry_code_NZSIOC Industry_name_NZSIOC Units                 Value
2021 Level 1                     99999                All industries       Dollars (millions)  757,504
                                                                           Dollars (millions)  674,890
                                 NaN                  All industries       Dollars (millions)   49,593
                                 99999                All industries       Dollars (millions)   33,020
                                                                           Dollars (millions)  654,404
                                                                           Dollars (millions)   26,138
                                                                           Dollars (millions)    6,991
                                 NaN                  All industries       Dollars (millions)   27,801
                                 99999                All industries       Dollars (millions)  123,620
                                                                           Dollars (millions)      275
                                                                           Dollars (millions)    2,085
                                                                           Dollars (millions)  452,963
                                 NaN                  All industries       Dollars (millions)   14,806
                                 99999                All industries       Dollars (millions)   68,896

                                                                                                                                            cum5
Year Industry_aggregation_NZSIOC Industry_code_NZSIOC Industry_name_NZSIOC Units                                          Industry_code_ANZSIC06
2021 Level 1                     99999                All industries       Dollars (millions)  ANZSIC06 divisions A-S (excluding classes K633...
                                                                           Dollars (millions)  ANZSIC06 divisions A-S (excluding classes K633...
                                 NaN                  All industries       Dollars (millions)  ANZSIC06 divisions A-S (excluding classes K633...
                                 99999                All industries       Dollars (millions)  ANZSIC06 divisions A-S (excluding classes K633...
                                                                           Dollars (millions)  ANZSIC06 divisions A-S (excluding classes K633...
                                                                           Dollars (millions)  ANZSIC06 divisions A-S (excluding classes K633...
                                                                           Dollars (millions)  ANZSIC06 divisions A-S (excluding classes K633...
                                 NaN                  All industries       Dollars (millions)  ANZSIC06 divisions A-S (excluding classes K633...
                                 99999                All industries       Dollars (millions)  ANZSIC06 divisions A-S (excluding classes K633...
                                                                           Dollars (millions)  ANZSIC06 divisions A-S (excluding classes K633...
                                                                           Dollars (millions)  ANZSIC06 divisions A-S (excluding classes K633...
                                                                           Dollars (millions)  ANZSIC06 divisions A-S (excluding classes K633...
                                 NaN                  All industries       Dollars (millions)  ANZSIC06 divisions A-S (excluding classes K633...
                                 99999                All industries       Dollars (millions)  ANZSIC06 divisions A-S (excluding classes K633...

# Pandas Fucntions

In [18]:
df=pd.read_csv("sample.csv")
df
df.index

RangeIndex(start=0, stop=14, step=1)

In [19]:
df=pd.read_csv("sample.csv",nrows=14)
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [20]:
df.index
df.head(10)
df.tail(2)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [21]:
df[4:10]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...

In [22]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [23]:
df.index.array

<PandasArray>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
Length: 14, dtype: int64

In [24]:
df.to_numpy()

array([[2021, 'Level 1', 99999.0, 'All industries', 'Dollars (millions)',
        'H01', 'Total income', 'Financial performance', '757,504',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021, 'Level 1', 99999.0, 'All industries', 'Dollars (millions)',
        'H04', 'Sales, government funding, grants and subsidies',
        'Financial performance', '674,890',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021, 'Level 1', nan, 'All industries', 'Dollars (millions)',
        'H05', 'Interest, dividends and donations',
        'Financial performance', '49,593',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021, 'Level 1', 99999.0, 'All industries', 'Dollars (millions)',
        'H07', 'Non-operating income', 'Financial performance', '33,020',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021, 'Level 1', 99999.0, 'All industries', 'Dollars (millions)',
        'H08', 'Total expenditure', 'Financial performance', '654,404',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021, 'Level 1', 99999.0, 'All industries', 'Dollars (millions)',
        'H09', 'Interest and donations', 'Financial performance',
        '26,138',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021, 'Level 1', 99999.0, 'All industries', 'Dollars (millions)',
        nan, 'Indirect taxes', 'Financial performance', '6,991',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021, 'Level 1', nan, 'All industries', 'Dollars (millions)',
        'H11', 'Depreciation', 'Financial performance', '27,801',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021, 'Level 1', 99999.0, 'All industries', 'Dollars (millions)',
        'H12', 'Salaries and wages paid', 'Financial performance',
        '123,620',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021, 'Level 1', 99999.0, 'All industries', 'Dollars (millions)',
        'H13', 'Redundancy and severance', 'Financial performance',
        '275',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021, 'Level 1', 99999.0, 'All industries', 'Dollars (millions)',
        'H14', 'Salaries and wages to self employed commission agents',
        'Financial performance', '2,085',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021, 'Level 1', 99999.0, 'All industries', 'Dollars (millions)',
        'H19', 'Purchases and other operating expenses',
        'Financial performance', '452,963',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021, 'Level 1', nan, 'All industries', 'Dollars (millions)',
        nan, 'Non-operating expenses', 'Financial performance', '14,806',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021, 'Level 1', 99999.0, 'All industries', 'Dollars (millions)',
        'H21', 'Opening stocks', 'Financial performance', '68,896',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)']],
      dtype=object)

In [25]:
df.sort_index(axis=0,ascending=False)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...

In [26]:
df["Industry_code_NZSIOC"][0]="99000"
df

C:\Users\prade\AppData\Local\Temp\ipykernel_11872\3371283484.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Industry_code_NZSIOC"][0]="99000"

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99000,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [27]:
df.loc[6,"Industry_code_NZSIOC"]="1001"
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99000,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,1001,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [28]:
df.loc[[2,3],["Industry_code_NZSIOC"]]

  Industry_code_NZSIOC
2                  NaN
3              99999.0

In [29]:
df.iloc[2,2]

nan

In [30]:
df.drop("Industry_code_NZSIOC",axis=1)

,Year,Industry_aggregation_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [31]:
df.drop(0,axis=0)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,1001,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

# Drop NaN and fil NaN

In [32]:
dfc=pd.read_csv("sample.csv",nrows=14)
dfc

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [33]:
dfc.dropna(axis=0) #asix=0 for along row and 1 for along column

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [34]:
dfc

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [35]:
dfc.dropna(how="any")

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [36]:
dfc

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [37]:
dfc.dropna(inplace=True)
dfc

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [38]:
dfca=pd.read_csv("sample.csv",nrows=14)
dfca

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [39]:
dfca.dropna(thresh=1) #removes the no of rows with 1 null values

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [40]:
#Fillna

In [41]:
dfca.fillna({"Industry_code_NZSIOC":"python","Variable_code":"java"})#filling a null value

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,python,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),java,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,python,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,python,All industries,Dollars (millions),java,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [42]:
dfca

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [43]:
dfca.fillna(method="ffill") #forward filling from previous row

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999.0,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,99999.0,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [44]:
dfca.fillna(method='bfill',axis=1)#backward filling from left data

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,All industries,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),Indirect taxes,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,All industries,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,All industries,All industries,Dollars (millions),Non-operating expenses,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [45]:
dfca.fillna(12,inplace=True)
dfca

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,12.0,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),12,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,12.0,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,12.0,All industries,Dollars (millions),12,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [46]:
dfcaf=pd.read_csv("sample.csv",nrows=14)
dfcaf

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [47]:
dfcaf.fillna("python",limit=2)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,python,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),python,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,python,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),python,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

# Replace

In [50]:
datas=pd.read_csv("sample.csv")
datas

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [52]:
datas.replace(to_replace=99999.0,value=9980)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,9980.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,9980.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,9980.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,9980.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,9980.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,9980.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,9980.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,9980.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,9980.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,9980.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,9980.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [58]:
datas.fillna(12,inplace=True)
datas

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,12.0,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),12,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,12.0,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,12.0,All industries,Dollars (millions),12,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [61]:
datas.replace(to_replace="Level 1",value="pandas")

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,pandas,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,pandas,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,pandas,12.0,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,pandas,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,pandas,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,pandas,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,pandas,99999.0,All industries,Dollars (millions),12,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,pandas,12.0,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,pandas,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,pandas,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,pandas,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,pandas,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,pandas,12.0,All industries,Dollars (millions),12,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,pandas,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [67]:
datas.replace(2021,22)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,22,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,22,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,22,Level 1,12.0,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,22,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,22,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,22,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,22,Level 1,99999.0,All industries,Dollars (millions),12,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,22,Level 1,12.0,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,22,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,22,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,22,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,22,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,22,Level 1,12.0,All industries,Dollars (millions),12,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,22,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [74]:
datas.replace("[A-Za-z]","Python",regex=True)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,PythonPythonPythonPythonPython 1,99999.0,PythonPythonPython PythonPythonPythonPythonPyt...,PythonPythonPythonPythonPythonPythonPython (Py...,Python01,PythonPythonPythonPythonPython PythonPythonPyt...,PythonPythonPythonPythonPythonPythonPythonPyth...,"757,504",PythonPythonPythonPythonPythonPython06 PythonP...
1,2021,PythonPythonPythonPythonPython 1,99999.0,PythonPythonPython PythonPythonPythonPythonPyt...,PythonPythonPythonPythonPythonPythonPython (Py...,Python04,"PythonPythonPythonPythonPython, PythonPythonPy...",PythonPythonPythonPythonPythonPythonPythonPyth...,"674,890",PythonPythonPythonPythonPythonPython06 PythonP...
2,2021,PythonPythonPythonPythonPython 1,12.0,PythonPythonPython PythonPythonPythonPythonPyt...,PythonPythonPythonPythonPythonPythonPython (Py...,Python05,PythonPythonPythonPythonPythonPythonPythonPyth...,PythonPythonPythonPythonPythonPythonPythonPyth...,"49,593",PythonPythonPythonPythonPythonPython06 PythonP...
3,2021,PythonPythonPythonPythonPython 1,99999.0,PythonPythonPython PythonPythonPythonPythonPyt...,PythonPythonPythonPythonPythonPythonPython (Py...,Python07,PythonPythonPython-PythonPythonPythonPythonPyt...,PythonPythonPythonPythonPythonPythonPythonPyth...,"33,020",PythonPythonPythonPythonPythonPython06 PythonP...
4,2021,PythonPythonPythonPythonPython 1,99999.0,PythonPythonPython PythonPythonPythonPythonPyt...,PythonPythonPythonPythonPythonPythonPython (Py...,Python08,PythonPythonPythonPythonPython PythonPythonPyt...,PythonPythonPythonPythonPythonPythonPythonPyth...,"654,404",PythonPythonPythonPythonPythonPython06 PythonP...
5,2021,PythonPythonPythonPythonPython 1,99999.0,PythonPythonPython PythonPythonPythonPythonPyt...,PythonPythonPythonPythonPythonPythonPython (Py...,Python09,PythonPythonPythonPythonPythonPythonPythonPyth...,PythonPythonPythonPythonPythonPythonPythonPyth...,"26,138",PythonPythonPythonPythonPythonPython06 PythonP...
6,2021,PythonPythonPythonPythonPython 1,99999.0,PythonPythonPython PythonPythonPythonPythonPyt...,PythonPythonPythonPythonPythonPythonPython (Py...,12,PythonPythonPythonPythonPythonPythonPythonPyth...,PythonPythonPythonPythonPythonPythonPythonPyth...,"6,991",PythonPythonPythonPythonPythonPython06 PythonP...
7,2021,PythonPythonPythonPythonPython 1,12.0,PythonPythonPython PythonPythonPythonPythonPyt...,PythonPythonPythonPythonPythonPythonPython (Py...,Python11,PythonPythonPythonPythonPythonPythonPythonPyth...,PythonPythonPythonPythonPythonPythonPythonPyth...,"27,801",PythonPythonPythonPythonPythonPython06 PythonP...
8,2021,PythonPythonPythonPythonPython 1,99999.0,PythonPythonPython PythonPythonPythonPythonPyt...,PythonPythonPythonPythonPythonPythonPython (Py...,Python12,PythonPythonPythonPythonPythonPythonPythonPyth...,PythonPythonPythonPythonPythonPythonPythonPyth...,"123,620",PythonPythonPythonPythonPythonPython06 PythonP...
9,2021,PythonPythonPythonPythonPython 1,99999.0,PythonPythonPython PythonPythonPythonPythonPyt...,PythonPythonPythonPythonPythonPythonPython (Py...,Python13,PythonPythonPythonPythonPythonPythonPythonPyth...,PythonPythonPythonPythonPythonPythonPythonPyth...,275,PythonPythonPythonPythonPythonPython06 PythonP...
10,2021,PythonPythonPythonPythonPython 1,99999.0,PythonPythonPython PythonPythonPythonPythonPyt...,PythonPythonPythonPythonPythonPythonPython (Py...,Python14,PythonPythonPythonPythonPythonPythonPythonPyth...,PythonPythonPythonPythonPythonPythonPythonPyth...,"2,085",PythonPythonPythonPythonPythonPython06 PythonP...
11,2021,PythonPythonPythonPythonPython 1,99999.0,PythonPythonPython PythonPythonPythonPythonPyt...,PythonPythonPythonPythonPythonPythonPython (Py...,Python19,PythonPythonPythonPythonPythonPythonPythonPyth...,PythonPythonPythonPythonPythonPythonPythonPyth...,"452,963",PythonPythonPythonPythonPythonPython06 PythonP...
12,2021,PythonPythonPythonPythonPython 1,12.0,PythonPythonPython PythonPythonPythonPythonPyt...,PythonPythonPythonPythonPythonPythonPython (Py...,12,PythonPythonPython-PythonPythonPythonPythonPyt...,PythonPythonPythonPythonPythonPythonPythonPyth...,"14,806",PythonPythonPythonPythonPythonPython06 PythonP...
13,2021,PythonPythonPythonPythonPython 1,99999.0,PythonPythonPython PythonPythonPythonPythonPyt...,PythonPythonPythonPythonPythonPythonPython (Py...,Python21,PythonPythonPythonPythonPythonPythonPython Pyt...,PythonPythonPythonPythonPythonPythonPythonPyth...,"68,896",PythonPythonPythonPythonPythonPython06 PythonP...

In [78]:
datas.replace({"Industry_aggregation_NZSIOC":'[A-Za-z]'},200,regex=True)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,200,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,200,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,200,12.0,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,200,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,200,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,200,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,200,99999.0,All industries,Dollars (millions),12,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,200,12.0,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,200,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,200,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,200,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,200,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,200,12.0,All industries,Dollars (millions),12,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,200,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [79]:
# var.replace(1,method='bfill') replace 1 with backward data
#similarly for ffill works

# Interpolate

In [82]:
dataInt=pd.read_csv("sample.csv")
dataInt

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,NaN,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,NaN,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [84]:
dataInt.interpolate()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999.0,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,99999.0,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [91]:
dataInt.interpolate(method='cubic')

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999.0,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999.0,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,99999.0,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999.0,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999.0,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
10,2021,Level 1,99999.0,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
11,2021,Level 1,99999.0,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
12,2021,Level 1,99999.0,All industries,Dollars (millions),NaN,Non-operating expenses,Financial performance,"14,806",ANZSIC06 divisions A-S (excluding classes K633...
13,2021,Level 1,99999.0,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,896",ANZSIC06 divisions A-S (excluding classes K633...

In [3]:
import pandas as pd

data1=pd.DataFrame({"A":[1,2,3,4,5],"B":[10,11,12,13,14]})
data2=pd.DataFrame({"A":[1,2,3,4,5],"C":[20,21,22,23,24]})

pd.merge(data1,data2,on="A")

   A   B   C
0  1  10  20
1  2  11  21
2  3  12  22
3  4  13  23
4  5  14  24

In [6]:
data1=pd.DataFrame({"A":[1,2,3,4,5],"B":[10,11,12,13,14]})
data2=pd.DataFrame({"A":[1,2,3,4,6],"C":[20,21,22,23,24]})

pd.merge(data1,data2,how="left")

   A   B     C
0  1  10  20.0
1  2  11  21.0
2  3  12  22.0
3  4  13  23.0
4  5  14   NaN

In [9]:
data1=pd.DataFrame({"A":[1,2,3,4,5],"B":[10,11,12,13,14]})
data2=pd.DataFrame({"A":[1,2,3,4,6],"C":[20,21,22,23,24]})

pd.merge(data1,data2,how="outer",indicator=True)

   A     B     C      _merge
0  1  10.0  20.0        both
1  2  11.0  21.0        both
2  3  12.0  22.0        both
3  4  13.0  23.0        both
4  5  14.0   NaN   left_only
5  6   NaN  24.0  right_only

In [12]:
data1=pd.DataFrame({"A":[1,2,3,4,5],"B":[10,11,12,13,14]})
data2=pd.DataFrame({"A":[1,2,3,4,6],"B":[20,21,22,23,24]})

pd.merge(data1,data2,left_index=True,right_index=True,suffixes=("name","python"))

   Aname  Bname  Apython  Bpython
0      1     10        1       20
1      2     11        2       21
2      3     12        3       22
3      4     13        4       23
4      5     14        6       24

# Concate

In [ ]:
# sr1=pd.Series([1,2,3,4,5])
sr2=pd.Series([6,7,8,9,10])

pd.concat([sr1,sr2])

In [26]:
data1=pd.DataFrame({"A":[1,2,3,4,5],"B":[10,11,12,13,14]})
data2=pd.DataFrame({"A":[1,2,3,],"C":[20,23,24]})

pd.concat([data1,data2],axis=1,join="inner")

   A   B  A   C
0  1  10  1  20
1  2  11  2  23
2  3  12  3  24

In [35]:
data1=pd.DataFrame({"A":[1,2,3,4,5],"B":[10,11,12,13,14]})
data2=pd.DataFrame({"A":[1,2,3,],"C":[20,23,24]})

pd.concat([data1,data2],axis=1,keys=["data1","data2"])

  data1     data2
      A   B     A     C
0     1  10   1.0  20.0
1     2  11   2.0  23.0
2     3  12   3.0  24.0
3     4  13   NaN   NaN
4     5  14   NaN   NaN

# GroupBy Data Grouping in python(Pandas)

In [37]:
data3=pd.DataFrame({"Name":['a','b','c','d','a','b','a','b','a','c','c','d'],
                   "S_1":[12,13,14,13,12,17,10,15,8,9,7,29],
                   "S_2":[22,23,24,23,32,27,20,15,18,19,27,24]})
data3

   Name  S_1  S_2
0     a   12   22
1     b   13   23
2     c   14   24
3     d   13   23
4     a   12   32
5     b   17   27
6     a   10   20
7     b   15   15
8     a    8   18
9     c    9   19
10    c    7   27
11    d   29   24

In [39]:
data_new=data3.groupby("Name")
data_new

In [43]:
for x,y in data_new:
    print(x)
    print(y)
    print()

a
  Name  S_1  S_2
0    a   12   22
4    a   12   32
6    a   10   20
8    a    8   18

b
  Name  S_1  S_2
1    b   13   23
5    b   17   27
7    b   15   15

c
   Name  S_1  S_2
2     c   14   24
9     c    9   19
10    c    7   27

d
   Name  S_1  S_2
3     d   13   23
11    d   29   24

In [49]:
data_new.get_group("a")

  Name  S_1  S_2
0    a   12   22
4    a   12   32
6    a   10   20
8    a    8   18

In [51]:
data_new.min()

      S_1  S_2
Name
a       8   18
b      13   15
c       7   19
d      13   23

In [53]:
data_new.max()

      S_1  S_2
Name
a      12   32
b      17   27
c      14   27
d      29   24

In [55]:
l1=list(data_new) #converting dataframe to lists
l1

[('a',
    Name  S_1  S_2
  0    a   12   22
  4    a   12   32
  6    a   10   20
  8    a    8   18),
 ('b',
    Name  S_1  S_2
  1    b   13   23
  5    b   17   27
  7    b   15   15),
 ('c',
     Name  S_1  S_2
  2     c   14   24
  9     c    9   19
  10    c    7   27),
 ('d',
     Name  S_1  S_2
  3     d   13   23
  11    d   29   24)]

# Join and Append

In [66]:
data4=pd.DataFrame({"A":['a','b','c','d'],
                   "B":[12,13,14,13]},index=[0,1,2,3])
data5=pd.DataFrame({"C":['a','c','d'],
                   "D":[17,31,19]},index=[0,1,2])
data4.join(data5)

   A   B    C     D
0  a  12    a  17.0
1  b  13    c  31.0
2  c  14    d  19.0
3  d  13  NaN   NaN

In [72]:
data4=pd.DataFrame({"A":['a','b','c','d'],
                   "B":[12,13,14,13]},index=[0,1,2,3])
data5=pd.DataFrame({"C":['a','c','d'],
                   "D":[12,13,14]},index=[0,1,2])
data4.join(data5,how="inner")

   A   B  C   D
0  a  12  a  12
1  b  13  c  13
2  c  14  d  14

In [75]:
data4=pd.DataFrame({"A":['a','b','c','d'],
                   "B":[12,13,14,13]},index=[0,1,2,3])
data5=pd.DataFrame({"C":['a','c','d'],
                   "D":[12,13,14]},index=[0,1,2])
data4.join(data5,how="outer",lsuffix="_12",rsuffix="_123")

   A   B    C     D
0  a  12    a  12.0
1  b  13    c  13.0
2  c  14    d  14.0
3  d  13  NaN   NaN

In [77]:
#Append instead of this use pandas.concat
data4=pd.DataFrame({"A":['a','b','c','d'],
                   "B":[12,13,14,13]},index=[0,1,2,3])
data5=pd.DataFrame({"C":['a','c','d'],
                   "D":[12,13,14]},index=[0,1,2])
data4.append(data5)

C:\Users\prade\AppData\Local\Temp\ipykernel_1624\2092783545.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data4.append(data5)

     A     B    C     D
0    a  12.0  NaN   NaN
1    b  13.0  NaN   NaN
2    c  14.0  NaN   NaN
3    d  13.0  NaN   NaN
0  NaN   NaN    a  12.0
1  NaN   NaN    c  13.0
2  NaN   NaN    d  14.0

# Melt()

In [79]:
vr=pd.DataFrame({"days":[1,2,3,4,5,6],"eng":[10,12,14,15,16,12],"maths":[17,18,19,13,15,17]})

vr

   days  eng  maths
0     1   10     17
1     2   12     18
2     3   14     19
3     4   15     13
4     5   16     15
5     6   12     17

In [85]:
pd.melt(vr)

   variable  value
0      days      1
1      days      2
2      days      3
3      days      4
4      days      5
5      days      6
6       eng     10
7       eng     12
8       eng     14
9       eng     15
10      eng     16
11      eng     12
12    maths     17
13    maths     18
14    maths     19
15    maths     13
16    maths     15
17    maths     17

In [92]:
pd.melt(vr,id_vars=["days"],var_name="Subjects",value_name="Marks")

    days Subjects  Marks
0      1      eng     10
1      2      eng     12
2      3      eng     14
3      4      eng     15
4      5      eng     16
5      6      eng     12
6      1    maths     17
7      2    maths     18
8      3    maths     19
9      4    maths     13
10     5    maths     15
11     6    maths     17

# pivot()

In [115]:
vr=pd.DataFrame({"days":[1,2,3,4,5,6],"st_name":["a","b","c","a","b","c"],"eng":[10,12,14,15,16,12],"maths":[17,18,19,13,15,17]})
vr

   days st_name  eng  maths
0     1       a   10     17
1     2       b   12     18
2     3       c   14     19
3     4       a   15     13
4     5       b   16     15
5     6       c   12     17

In [116]:
vr.pivot(index="days",columns="st_name")

          eng             maths
st_name     a     b     c     a     b     c
days
1        10.0   NaN   NaN  17.0   NaN   NaN
2         NaN  12.0   NaN   NaN  18.0   NaN
3         NaN   NaN  14.0   NaN   NaN  19.0
4        15.0   NaN   NaN  13.0   NaN   NaN
5         NaN  16.0   NaN   NaN  15.0   NaN
6         NaN   NaN  12.0   NaN   NaN  17.0

In [118]:
vr.pivot(index="days",columns="st_name",values="eng")

st_name     a     b     c
days
1        10.0   NaN   NaN
2         NaN  12.0   NaN
3         NaN   NaN  14.0
4        15.0   NaN   NaN
5         NaN  16.0   NaN
6         NaN   NaN  12.0

In [123]:
vr1=pd.DataFrame({"days":[1,1,1,1,2,2],"st_name":["a","b","c","a","b","b"],"eng":[10,12,14,15,16,12],"maths":[17,18,19,13,15,17]})
vr1.pivot_table(index="st_name",columns="days",aggfunc="mean",margins="True")

           eng                   maths
days         1     2        All      1     2        All
st_name
a        12.50   NaN  12.500000  15.00   NaN  15.000000
b        12.00  14.0  13.333333  18.00  16.0  16.666667
c        14.00   NaN  14.000000  19.00   NaN  19.000000
All      12.75  14.0  13.166667  16.75  16.0  16.500000